/*
--------
RESET
--------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
--------
COMMON
--------
*/

body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.button {
  background-color: white;
  color: black;
  padding: 10px 15px;
  border-radius: 20px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
}

p {
  line-height: 30px;
  text-align: center;
  padding: 0 100px;
}

/*
--------
HEADER
--------
*/

header {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  color: white;
}

/*---nav-section---*/
header .container {
  align-items: center;
}

.nav-section {
  padding: 15px 0;
}

#logo {
  display: block;
}

#logo,
.login {
  flex-grow: 1;
}

.links {
  flex-grow: 3;
}

.login {
  text-align: end;
}

header .container > * {
  padding: 10px;
}

header .nav-section .link-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

header .nav-section .link-list > li {
  margin: 0 20px;
}

/*---text-section---*/
.text-section {
  padding: 100px 0;
}

.text-section > .text {
  max-width: 945px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 0 40px 40px 40px;
  font-size: 40px;
}

.text-section .text a:last-of-type {
  background-color: black;
  color: white;
}

.header-buttons {
  text-align: center;
  margin-top: 20px;
}

.header-buttons .button {
  margin: 0 5px;
}

/*
--------
MAIN
--------
*/

main section {
  padding: 50px 0;
}

main section:nth-of-type(2),
main section:nth-of-type(4) {
  background-color: #f6f6f6;
}

.big-column {
  flex-grow: 1.5;
}

.small-column {
  flex-grow: 1;
}

.small-column h2 {
  font-size: 40px;
  text-align: left;
  padding: 50px 180px 30px 50px;
}

.small-column p {
  text-align: left;
  padding: 0 180px 50px 50px;
}

main section:nth-of-type(4) {
  text-align: center;
}

main section:nth-of-type(4) > div {
  flex-grow: 1;
}

main section:nth-of-type(4) h2 {
  font-size: 40px;
  padding: 20px 0;
}

main section:nth-of-type(4) p {
  padding: 0 150px;
}

main section:nth-of-type(4) h3 {
  padding: 50px;
}

main section:nth-of-type(4) .button {
  background-color: #7289da;
  color: white;
}

/*
--------
FOOTER
--------
*/

footer {
  background-color: #23272a;
  color: white;
}

/*---footer-top---*/
.footer-top {
  padding-top: 10px;
}

.footer-top .container {
  margin-top: 75px;
  padding-bottom: 40px;
  border-bottom: 2px solid #7289da;
}

.footer-left-column {
  max-width: 370px;
  flex-grow: 1;
  padding: 0 50px;
}

.footer-right-column {
  flex-grow: 1;
  display: flex;
}

.footer-right-column > div {
  flex-grow: 1;
}

.footer-right-column ul {
  list-style: none;
}

.footer-left-column h3,
.footer-right-column ul > li:first-of-type {
  color: #7289da;
}

.footer-left-column h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.footer-right-column ul > li {
  margin-bottom: 20px;
}

footer .social * {
  margin-right: 25px;
}

.footer-left-column .language {
  margin-bottom: 20px;
}

.footer-left-column .language img {
  width: 25px;
  margin-right: 10px;
  vertical-align: bottom;
}

/*---footer-end---*/
.footer-end .container {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.footer-end .button {
  background-color: #7289da;
  color: white;
}

/*-----wave-----*/
.wave {
  height: 50px;
  background-image: url(../img/wave.svg);
  opacity: 0.04;
}

.wave.reverse {
  transform: scale(1, -1);
}
